* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
}

img {
    display: block;
    width: 400px;
    margin: 30px auto;
    /*box-shadow: 3px 4px 8px 2px rgba(6, 24, 129, 0.51);*/
    box-shadow: 0 20px 40px -14px rgba(6, 0, 0, .25);
}

.box {
    width: 100px;
    height: 100px;
    margin: 30px;
    background: steelblue;
    /*box-shadow: h-offset v-offset blur spread color;*/

    /*box-shadow: 100px 100px 0 0 crimson,
                100px 0 darkblue,
                0 100px darkgoldenrod;*/
}
