* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 90%;
    max-width: 600px;
    height: 600px;
    margin: 30px auto;
    outline: 3px solid black;

    display: grid;

    /*grid-template-columns: [linea-inicial] 1fr [linea-final] 1fr [linea-final-grid];*/ /* para poner un nombre a las lineas se hace con corchete */

    /*grid-template-columns: [linea-inicial] 1fr [linea-final linea-final-2] 1fr [linea-final-grid];*/ /* se puede poner dos nombres */

    /*grid-template-columns:
    [linea1] 1fr [linea2] 1fr [linea3] 1fr [linea4];*/

    /*grid-template-rows:
    [linea-inicial] 1fr [linea-medio] 1fr [linea-final];*/


    /*grid-template-columns: [header-start main-start] 1fr 1fr 1fr 1fr [header-end main-end];

    grid-template-rows: [header-start] 1fr [header-end main-start] 1fr [main-end] 1fr;*/


    /*grid-template-columns: repeat(4, [column-start] 1fr [colums-end]);*/

    /*grid-template-rows: repeat(3, [row-start] 1fr [row-end]);*/

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
}

.grid__item {
    padding: 20px 0;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.grid :nth-child(1) {
    background: steelblue;

    /*grid-column: linea2 / linea4;

    grid-row: linea-medio / linea-final;*/

    /*grid-area: main;*/

    /*grid-column: column-start 2 / column-start 4;*/

    /*grid-row: row-start 2 / row-start 4;*/

    grid-column: header-start / header-end;

    grid-row: header-start / header-end;
}

.grid :nth-child(2) {
    background: crimson;

    /*grid-area: header;*/ /* se puede asignar una area con solo un nombre (area implisita), solo debes de nombrar a las lineas con el sufijo "-start" y "-end" */

    grid-column: main-start / main-end;
    grid-row: main-start / main-end;
}

.grid :nth-child(3) {
    background: coral;

    grid-column: sidebar-start / sidebar-end;
    grid-row: sidebar-start / sidebar-end;
}

.grid :nth-child(4) {
    background: indigo;

    grid-column: footer-start / footer-end;
    grid-row: footer-start / footer-end;
}
