* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 90%;
    /*max-width: 600px;*/
    height: 600px;
    margin: 30px auto;
    outline: 3px solid black;

    display: grid;

    /*grid-template-columns: [linea-inicial] 1fr [linea-final] 1fr [linea-final-grid];*/ /* para poner un nombre a las lineas se hace con corchete */

    /*grid-template-columns: [linea-inicial] 1fr [linea-final linea-final-2] 1fr [linea-final-grid];*/ /* se puede poner dos nombres */

    /*grid-template-columns:
    [linea1] 1fr [linea2] 1fr [linea3] 1fr [linea4];*/

    /*grid-template-rows:
    [linea-inicial] 1fr [linea-medio] 1fr [linea-final];*/


    /*grid-template-columns: [header-start main-start] 1fr 1fr 1fr 1fr [header-end main-end];

    grid-template-rows: [header-start] 1fr [header-end main-start] 1fr [main-end] 1fr;*/


    /*grid-template-columns: repeat(4, [column-start] 1fr [colums-end]);*/

    /*grid-template-rows: repeat(3, [row-start] 1fr [row-end]);*/

    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);*/

    /*grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";*/

    /* min-content -> crear un track con el tamaño mínimo posible */
    /* max-content -> crear un track con el tamaño máximo posible */

    /*grid-template-columns: min-content max-content;
    grid-template-rows: min-content max-content;*/

    /*grid-template-columns: fit-content(200px);*/ /* fit-content -> el tamaño mínimo es el min-content y el maxico es que espesificamos */

    /*grid-template-columns: minmax(80px, 300px);*/ /* el valor mínimo del track-columna será 80px y maximo de 300px */

    /*grid-template-columns: minmax(80px, 300px) minmax(20px, 80px);*/ /* el primer track-colums su tamaó minimo sera de 80px y maximo 300px, el segundo track-column su tamaó mínimo sera de 20px y maximo de 80px */

    /*grid-template-columns: repeat(auto-fill, 20%);*/ /* auto-fill -> creará tantos tracks como se pueda con respecto al porcentaje y a la medida del grid-container, si hay mas espacio creará mas columnas con un tamaño de 20% */

    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/ /* se creará columnas minimo de 200px y maximo de una fracción */


    /*grid-template-columns: repeat(auto-fit, 10%);*/ /* auto-fit -> a diferencia de auto-fill si hay mas espacio no creará mas columnas */

    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/



    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* justify-items -> aplica en el eje horizontal o en las filas */
    /*justify-items: stretch;*/ /* stretch (defecto) -> hace que estira los items*/

    /*justify-items: start;*/ /* start -> al principio de las filas */

    /*justify-items: end; *//* end -> al final de las filas */

    /*justify-items: center;*/ /* center -> al centro de las filas */


    /* align-items -> aplica en el eje vertical o columna */
    /*align-items: stretch;*/ /* stretch (defecto) -> hace que estira los items*/

    /*align-items: start;*/ /* start -> al principio de las columnas */

    /*align-items: end;*/ /* end -> al final de las columnas */

    /*align-items: center;*/ /* center -> al centro de las columnas */


    /*place-items: align-items justify-aitems;*/
    /*place-items: start end;*/ /* en columna lo manda al principio, y en fila al final */
    /*place-items: start stretch;*/ /* en columna lo manda al principio, y en fila lo estira */
    place-items: start; /* aplica para los dos el start */
}

.grid__item {
    padding: 20px 0;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.grid :nth-child(1) {
    background: steelblue;

    /*grid-column: linea2 / linea4;

    grid-row: linea-medio / linea-final;*/

    /*grid-area: main;*/

    /*grid-column: column-start 2 / column-start 4;*/

    /*grid-row: row-start 2 / row-start 4;*/

    /*grid-column: header-start / header-end;

    grid-row: header-start / header-end;*/
}

.grid :nth-child(2) {
    background: crimson;

    /*grid-area: header;*/ /* se puede asignar una area con solo un nombre (area implisita), solo debes de nombrar a las lineas con el sufijo "-start" y "-end" */

    /*grid-column: main-start / main-end;
    grid-row: main-start / main-end;*/
}

.grid :nth-child(3) {
    background: coral;

    /*grid-column: sidebar-start / sidebar-end;
    grid-row: sidebar-start / sidebar-end;*/
}

.grid :nth-child(4) {
    background: indigo;

    /*grid-column: footer-start / footer-end;
    grid-row: footer-start / footer-end;*/
}
