* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    outline: 1px solid #000;
    width: 90%;
    height: 500px;
    margin: 30px auto;
}

.element {
    background: crimson;
    width: 120px;
    height: 120px;
    color: #fff;
    font-family: sans-serif;
    position: relative;

    transition: all 1s; /* all -> aplica a todos los elementos */
    left: 0; /* si no cambiamos el estado por defecto de left que es auto, no podremos animarlo porque para poder animarlo necesita saber su estado inicial, y por eso podemos left:0 */


    /* shorthand -> property | duration | timing-function | delay */

    /* Indica a que propiedas aplica las transición */
    /*transition-property: none;*/ /* none (defecto) */

    /*transition-property: all;*/ /* all -> aplica la transición a todos los elementos animables y que cambien de estados  */

    /*transition-property: display;*/

    /*transition-property: background-color;*/

    /*transition-property: background-color, transform, color;*/

    /*transition-property: background-color, transform;*/

    transition-property: clip-path, transform;

    /* Establece el tiempo que tardara la transición */
    /*transition-duration: 100ms;*/
    /*transition-duration: 1s;*/
    /*transition-duration: 3000ms;*/

    /*transition-duration: .5s;*/

    /*transition-duration: .5s, 4s;*/ /* si tengo dos valores aqui, y puse tres valores en property, la duración se intercala, la primera duración a la primera propiedad, la segunda duración a la segunda propiedad y la SEGUNDA duración a la tercera propiedad */

    /*transition-duration: 1.5s;*/

    transition-duration: .5s, 1s;

    /* Define la curva de acelarición de la transición */
    /* ease | linear | ease-in | ease-out | ease-in-out */

    /*

        ease -> aumenta la velocidad hacia la mitad de la transición, disminuyendola al final

        linear -> la curva de acelaración será uniforme, nunca cambia

        ease-in -> comienza lemtamente, pero poco a poco aumenta hasta completarse

        ease-out -> comienza rapidamente, pero poco a poco disminuye hasta completarse

        ease-in-out -> comienza lentamente, acelera y disminuye hasta completarse

    */
    /*transition-timing-function: linear;*/ /* linear (defecto) -> la curva de acelarion será constante */

    /*transition-timing-function: steps(6, end);*/ /* steps(6, end) -> la curva de acelaración será de 6 pasos, y el final de la transición */

    /*transition-timing-function: cubic-bezier(1,-1.77,.73,-1.13);*/

    transition-timing-function: ease-in;


    clip-path: circle(70%);

    /* transition-delay -> define la espera para que se ejecute la transición */
    /*transition-delay: 2s;*/

    transition-delay: 0s, .5s;

    /* ------------------- */
    transition: clip-path .5s ease-in 0s, transform 1s ease-in .5s;
}

.container:hover .element {
    /*background: steelblue;*/

    /*left: 80px;*/

    /*text-align: right;*/

    /*background-color: steelblue;*/

    /*transform: scale(.5);*/

    /*transform: translate(100%) scale(.5);*/

    clip-path: circle(50%);

    transform: translate(100%);

    /*color: #000;*/
}
