@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: 1px solid red;
}

:root {
    --padding-container: 4rem 0;
    --font-body: 'Open Sans', sans-serif;
    --font-headings: 'Poppins', sans-serif;

    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

body {
    font-family: var(--font-body);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    --wave-bottom: url(../images/bg-section-top-mobile-1.svg);

    min-height: 100vh;
    position: relative;
}

.hero__nav {
    --padding-container: 4rem 0 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__logo {
    width: 45%;
    max-width: 160px;
}

.hero__huddle {
    width: 100%;
    display: block;
}

.hero__cta {
    color: var(--light-pink);
    border: 2px solid;
    padding: .3em 1em;
    border-radius: 2em;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 1px hsla(192, 100%, 9%, .5);
}

.hero__main {
    text-align: center;
    color: var(--very-dark-cyan);
}

.hero__texts {
    display: grid;
    gap: 1em;
}

.hero__title {
    font-family: var(--font-headings);
}

.hero__paragraph {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
}

.cta {
    display: inline-block;
    background-color: var(--pink);
    color: #fff;
    text-decoration: none;
    padding: 1em 1.8em;
    border-radius: 2em;
    margin-top: 1em;
    font-weight: 600;
    box-shadow: -5px 8px 16px -10px hsla(192, 100%, 9%, .5);

    justify-self: center;
}

.hero__picture {
    margin-top: 5em;
}

.hero__img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.hero__numbers {
    margin-top: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.hero__item {
    overflow: hidden;
    margin-bottom: 2em;
}

.hero__number {
    font-size: 3.5rem;
}

.hero__community {
    text-align: center;
}

.hero__icon {
    display: block;
    /* margin: 0 auto; */
}

.wave {
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.wave--bottom {
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave--top {
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}

/* Section */
.section {
    --padding-container: 7rem 0;

    background-color: var(--very-pale-blue);
}

.section--white {
    --wave-top: url(../images/bg-section-bottom-desktop-1.svg);
    --wave-bottom: url(../images/bg-section-top-mobile-2.svg);
    --padding-container: 13rem 0;

    background-color: #fff;
    position: relative;
}

.section__container {
    display: flex;
    flex-direction: column;
}

.section__img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.section__texts {
    margin-top: 3rem;
    text-align: center;
}

.subtitle {
    margin-bottom: 1rem;
    font-family: var(--font-headings);
}

.question {
    --wave-top: url(../images/bg-section-bottom-mobile-2.svg);
    --wave-bottom: url(../images/bg-footer-top-mobile.svg);
    --padding-container: 12rem 0 13rem;

    position: relative;
    text-align: center;
}

/* Footer */
.footer {
    color: #fff;
    background-color: var(--very-dark-cyan);
}
