* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
}

.box {
    display: block;
    background: steelblue;
    width: 55px;
    height: 55px;
    margin: 10px 0 10px 5px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
}

.container {
    margin-left: -5px;
    padding: 10px 0;
    border: 3px solid lightcoral;
}

/*div.box {
    background: tomato;
}*/


/*div:only-of-type { !* only-of-type -> selecciona los elementos que son unicos (no tiene hermanos) con respecto al padre *!
    background: tomato;
}*/


/*
.box:only-of-type {
    background: tomato;
}
*/


/*.box:first-of-type { !* first-of-type -> selecciona al primer elemento con referencia a su padre *!
    background: tomato;
}*/


/*.box:last-of-type { !* last-of-type -> Selecciona al ultimo elemento de su tipo con refencia a su padre *!
    background: tomato;
}*/

/*.box:nth-of-type(2) { !* nth-of-type(2) -> Selecciona el segundo elemento de su tipo con referencia a su padre *!
    background: tomato;
}*/


/*.box:nth-of-type(odd) { !* Seleciona a los unicos elemeentos imapres con refrencia a su padre *!
    background: tomato;
}*/

/*.box:nth-of-type(even) { !* Seleciona a los unicos elemeentos pares con refrencia a su padre *!
    background: tomato;
}*/

/*.box:nth-of-type(n) { !* n itera cada vez mas empezando desde 0, aumentando de 1 en 1, hasta ya no encontrar coincidencias *!
    background: tomato;
}*/

/*
.box:nth-child(2n) { !* Se aumenta de 2 en 2 *!
    background: tomato;
}
*/

/*.box:nth-last-of-type(1) { !* De abajo hacia arriba *!
    background: tomato;
}*/

/*.box:only-child { !* only-child -> hijos unicos *!
    background: tomato;
}*/


/*.box:first-child { !* first-child -> primer hijo *!
    background: tomato;
}*/

/*.box:last-child { !* last-child -> selecciona al ultimo elemento de su padre *!
    background: tomato;
}*/


/*div:nth-child(2) {
    background: tomato;
}*/

/*.container :nth-child(1) { !* *:nth-child() -> si ponemos un espacio antes, es como si fuera un selcector universal *!
    background: tomato;
}*/

.container :nth-last-child(1) {
    background: tomato;
}
