* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 400px;
    margin: 30px auto;
    /*background: steelblue;*/

    /*background-image: linear-gradient(direccion, color stop, color stop);*/

    /*background-image: linear-gradient(to top left, crimson, steelblue);*/

    /*background-image: linear-gradient(30deg, crimson, steelblue);*/

    background-image: linear-gradient(crimson 5%, steelblue 80%);
}

.header {
    padding: 0.1px;
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 139, 0.44), rgba(70, 130, 180, 0.45)), url("img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 270px;
    color: #fff;
    font-family: Arial;
}
