* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url("img/textura.png");*/

    /*display: flex;
    justify-content: space-evenly;*/
}

.container {
    width: 70%;
    height: 300px;
    margin: 30px auto;
    /*background: rgb(100, 100, 250);*/

    background-color: rgb(100, 100, 250);

    /*background-image: url("img/spidy.png");*/

    /*background-image: url("img/spidy.png"), url("img/sun.png");*/

    background-image: url("img/spidy.png");

    background-repeat: no-repeat; /* no-repeat -> hace que la imagen no se repita */

    /*background-repeat: repeat-x;*/ /* repeat-x -> hace que se repita la imagen solo en el margen x */

    /*background-repeat: repeat-y;*/ /* repeat-y -> hace que se repita la imagen solo en el margen y */

    /*background-position: x y;*/ /* x y -> posicion de la imagen */
    /*background-position: 30px 100px;*/ /* se mueve 30px hacia la derecha y 100px hacia abajo */
    /*background-position: top right;*/ /* se mueve hacia arriba y hacia la derecha */
    /*background-position: bottom right;*/ /* se mueve hacia abajo y hacia la derecha */
    /*background-position: top center;*/ /* se mueve hacia arriba y se centra en el eje Y */
    /*background-position: top 10px right 30px*/; /* se mueve hacia arriba, 10px a lado contrario (en este caso abajo), y hacia la derecha, 30px a lado contrario (en este caso hacia la izquierda) */
    background-position: center; /* se centra en el eje X y Y */

    /*background-size: 70% 300px; *//* se ajusta el tamaño de la imagen - width y height */
    /*background-size: contain;*/ /* se ajusta el tamaño de la imagen sin cortar la imagen */
    background-size: cover; /* se ajusta el tamaño de la imagen ocupando todo el elemento */
}


.atachment {
   /* margin-top: 100px;*/
    width: 100%;
    height: 100vh;
    padding: 0.1px;
    background-image: url("img/img-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fixed {
    background-attachment: fixed;  /* ocupada el 100% del width y 100% del height del navegador */
}

.title {
    font-size: 70px;
    font-family: "Arial";
    text-align: center;
    color: #fff;
    margin-top: 250px;
}

.space {
    height: 3000px;
}
