:root {
    --color: crimson;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 3rem;
    color: var(--color);
    margin: 40px 0;
    text-align: center;
    font-family: monospace;
}

/*

@media <media-type> and (expresion) {
    !* se ejecuta *!

    .title {

    }
}

*/

@media print { /* print -> pantalla al mandar a imprimir */
    .title {
        color: steelblue;
        tab-size: 5rem;
        text-align: right;
        font-family: cursive;
    }
}

/*@media screen and (max-width: 600px) { !* screen -> la pantalla en ese momento *!
    :root {
        --color: white;
    }

    .title {
        background: #000;
        color: var(--color);
    }
}*/


/*@media screen and (orientation: landscape) {
    .title {
        margin: 0;
        color: steelblue;
        background: #000;
        height: 100vh;
    }
}*/


/*@media screen and (orientation: portrait) {
    .title {
        margin: 0;
        color: steelblue;
        background: #000;
        height: 100vh;
    }
}*/

/*@media screen and (orientation: portrait) and (max-width: 600px) {
    .title {
        text-align: left;
    }
}*/

/*@media screen and (max-width: 400px), (min-width: 900px) { !* , -> or *!
    .title {
        background: #000;
        color: #fff;
    }
}*/


@media screen and (min-width: 700px) {
    body {
        background: crimson;
    }
}


