* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
}

.grid {
    max-width: 700px;
    width: 90%;
    height: 500px;
    margin: 20px auto;
    outline: 3px solid #000;

    display: grid;

    grid-auto-flow: row; /* row (defecto) -> grid line por defecto es horizontal */

    /*grid-auto-flow: column;*/ /* column -> grid line en columna */

    /*align-items: stretch;*/ /* stretch (defecto) -> estira a los grid items si no tiene un height definido */

    /*grid-template-columns: 100px 2cm 30%;*/ /* crea columnas y por cada medida que pongamos es una columna, en este caso 3 */

    /*grid-template-columns: 200px 200px;*/ /* crea columnas y por cada medida que pongamos es una columna, en este caso 2 */

    /*grid-template-columns: 25% 25% 25% 25%;*/
    /*grid-template-columns: repeat(4, 25%);*/

    /*grid-template-columns: 20px 50px 20px 50px 20px 50px;*/
    /*grid-template-columns: repeat(3, 20px 50px);*/

    /*grid-template-columns: 1fr 1fr 1fr; *//* crea tres columan dividiva en tres fracciones */

    /*grid-template-columns: 200px 1fr 1fr 1fr;*/ /* crea yna columna de 200px y despues tres columnas divididas en tres fracciones */

    /*grid-template-columns: 3fr 1fr 1fr;*/ /* crea tres columnas divididas en 5 fracciones, la primera ocupda 3 fracciones y las segunda 1 y la ultima 1 */

    /*grid-template-columns: repeat(6, 1fr);*/

    /*grid-template-columns: 1fr 1fr 1fr auto;*/ /* auto -> en este caso toma el font-size de su contenido */

    /*grid-template-columns: 100px auto;*/ /* auto -> en este caso toma lo restante */

    grid-template-columns: repeat(3, 1fr);

    /*grid-template-rows: auto;*/ /* auto (defecto) */

    /*grid-template-rows: repeat(4, 1fr);*/ /* crear 4 filas de 1 fraccion */

    /*grid-template-rows: repeat(2, 1fr 2fr);*/

    grid-template-rows: repeat(3, 1fr);

    /*row-gap: 20px;*/ /* espacio entre filas */

    /*column-gap: 30px;*/ /* espacio entre columnas */

    /*gap: row column;*/

    gap: 20px 30px;
}

.grid__item {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
}

.grid :nth-child(1) {
    background: crimson;

    /*grid-column-start: 3;*/ /* definimos en que linea de columna empiza, en este caso empiza en la tercera grid line column */
    /*grid-column-end: 5;*/ /* definimos en que linea de columna termina, en este caso en la linea 5 */

    /*grid-column: 3 / 5;*/ /* lidea donde empiza (start-line) / liena donde termina (end-line) */

    /*grid-row-start: 3;*/ /* definimos en que linea de fila empiza, en este caso empiza en la tercera grid line row */
    /*grid-row-end: 5;*/ /* definimos en que linea de fila termina, en este caso en la linea 5 */

    /*grid-row: 3 / 5;*/ /* lidea donde empiza (start-line) / liena donde termina (end-line) */

}

.grid :nth-child(2) {
    background: darkmagenta;

    /*grid-column-start: 3;

    grid-row-start: 1;
    grid-row-end: 3;*/
}

.grid :nth-child(3) {
    background: steelblue;

    /*grid-column: span 2;*/ /* ocupa dos columnas desde su posicion inicial */

    /*grid-row: span 3;*/ /* ocupa tres filas desde su posicion inicial */

    /*grid-column: 2 / span 3;*/

    /*grid-row: 1 / span 3;*/

    /*grid-column: 1 / -1;*/ /* ocupa todad lad columna porque 1 es inicio y -1 es final, si fuera -2 sería la penultima columna */

    /*grid-row: 3 / -1;*/

    /*grid-area: 2 / 2 / 3 / 5;*/ /* grid-area: row-start / column-start / row-end / column-end */
}

.grid :nth-child(4) {
    background: brown;
}

.grid :nth-child(5) {
    background: chocolate;
}

.grid :nth-child(6) {
    background: midnightblue;
}

